@use "../abstracts/load-abstracts" as *;

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.btn {
  font-family: "Red Rose", sans-serif;
  font-weight: 700;
  @include flex-center(row);

  &--primary {
    background-color: $color-secondary;
    color: $color-primary;
  }

  &--home {
    font-size: 40px;
    gap: 20px;
    padding: 24px;
    width: 250px;
    height: 98px;
    margin-bottom: 5px;
    transition: all $transition-hover;

    .home-btn__controller {
      transition: rotate $transition-hover;
    }

    .home-btn__arrow {
      transition: opacity $transition-hover;
    }

    .home-btn__arrow-hover {
      transition: opacity $transition-hover;
    }

    &:hover {
      width: 270px;
      height: 103px;
      margin-bottom: 0;
      transition: all $transition-hover;

      .home-btn__controller {
        rotate: -26deg;
        transition: rotate $transition-hover;
      }

      .home-btn__arrow {
        // opacity: 0;
        display: none;
      }

      .home-btn__arrow-hover {
        // opacity: 1;
        display: unset;
      }
    }
  }
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s ease;
    background: $color-primary;
  }

  &:checked {
    border: 2.5px solid $color-primary;

    &::before {
      transform: scale(1);
    }
  }
}

.exit-game-btn {
  color: white;
  @include flex-center(row);

  &--settings {
    padding: 4px 8px;
    font-size: 10px;
  }

  &--game {
    padding: 12px 20px;
  }
}

body[data-theme="code vibes"] .exit-game-btn {
  gap: 6px;
  background-color: rgba(77, 213, 188, 0.2);
  border: 1px solid var(--color-card-2);
}

body[data-theme="gaming"] .exit-game-btn {
  gap: 10px;
  border-radius: 7px;
  border: 1px solid rgba(231, 28, 79, 1);

  svg path {
    fill: rgba(231, 28, 79, 1);
  }
}

// Fragen
// Schriftgrößen sehr klein im Figma
// code vibes header mit oder ohne background-color? ist egal, an Live Player orientieren
// chosen settings + button effekt --> wann? sobald button aktiv
