@use "../abstracts/load-abstracts" as *;

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.btn {
  font-family: "Red Rose", sans-serif;
  font-weight: 700;
  @include flex-center(row);

  &--primary {
    background-color: $color-secondary;
    color: $color-primary;
  }

  &--home {
    font-size: 40px;
    gap: 20px;
    padding: 24px;
    width: 250px;
    height: 98px;
    margin-bottom: 5px;
    transition: all $transition-hover;

    .home-btn__controller {
      transition: rotate $transition-hover;
    }

    .home-btn__arrow {
      transition: opacity $transition-hover;
    }

    .home-btn__arrow-hover {
      transition: opacity $transition-hover;
    }

    &:hover {
      width: 270px;
      height: 103px;
      margin-bottom: 0;
      transition: all $transition-hover;

      .home-btn__controller {
        rotate: -26deg;
        transition: rotate $transition-hover;
      }

      .home-btn__arrow {
        display: none;
      }

      .home-btn__arrow-hover {
        display: unset;
      }
    }
  }
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s ease;
    background: $color-primary;
  }

  &:checked {
    border: 2.5px solid $color-primary;

    &::before {
      transform: scale(1);
    }
  }
}

.exit-game-btn {
  font-weight: 700;
  color: white;
  @include flex-center(row);

  &--settings {
    padding: 4px 8px;
    font-size: 10px;
    cursor: default;
  }

  &--game {
    padding: 12px 20px;
  }
}

body[data-theme="code vibes"] .exit-game-btn {
  gap: 6px;
  background-color: rgba(134, 233, 214, 0.14);
  border: 1px solid var(--color-card-2);

  &--game {
    font-size: 24px;
    svg {
      width: 30px;
      height: 30px;
    }

    &:hover {
      box-shadow: 4px 4px 6px 0px rgba(77, 213, 188, 0.2);
      outline: 2px solid var(--color-card-2);
      background-color: rgba(134, 233, 214, 0.26);
      svg path {
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

body[data-theme="gaming"] .exit-game-btn {
  gap: 10px;
  border: 1px solid rgba(231, 28, 79, 1);

  &--settings {
    border-radius: 7px;

    svg path {
      fill: rgba(231, 28, 79, 1);
    }
  }

  &--game {
    font-size: 20px;
    border-width: 2px;
    border-radius: 10px;

    svg {
      width: 25.75px;
      height: 22.5px;
    }

    &:hover {
      background-color: rgba(237, 27, 118, 0.14);
      box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
      svg path {
        box-shadow: 3px 3px 4.5px 0px rgba(0, 0, 0, 0.35);
        fill: rgba(231, 28, 79, 1);
      }
    }
  }
}

.btn-settings {
  padding: 14px 20px;
  @include flex-gap(row, 8px);
  width: 126px;
  transition: transform $transition-hover;

  > p {
    font-size: 20px;
    font-weight: 700;
  }

  svg {
    transition: rotate $transition-hover;
  }

  &:not(:disabled) {
    &:hover {
      transform: scale(1.05);
      transition: transform $transition-hover;

      > p {
        font-size: 22px;
      }

      > svg {
        rotate: -5deg;
        transition: rotate $transition-hover;
      }
    }
  }

  &:disabled {
    background-color: #dbdbd6 !important;
    cursor: not-allowed;

    > p {
      color: #a3a1a1;
    }

    svg path {
      fill: #a3a1a1;
    }
  }
}
