@use "../abstracts/load-abstracts" as *;

.card {
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    @include flex-center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    &--back {
      transform: rotateY(180deg);
    }
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }

  &--settings {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    @include flex-center;

    &.card--back {
      z-index: 1;
    }
  }
}
