@use "../abstracts/load-abstracts" as *;

.infobar {
  @include flex-center(row, space-between);
  color: white;

  &--settings {
    padding: 8px 20px;
    margin: 17px 15px 0 15px;
  }

  &--game {
    padding: 24px;
    margin: 40px 110px 0px 110px;
    width: calc(100% - 220px);
  }
}

body[data-theme="code vibes"] .infobar {
  font-family: "Red Rose", sans-serif;
}

body[data-theme="gaming"] .infobar {
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
  background-color: var(--color-infobar);

  &__settings {
    box-shadow: 3px 2px 10.1px 0 rgba(0, 0, 0, 0.2);
  }
}

body:has(.cards-36) .infobar {
  margin: 10px 110px 0px 110px;
}

.score {
  @include flex-center(row);
  font-weight: 700;

  &--settings {
    padding: 4px 8px;
  }

  &--game {
  }

  &__player {
    @include flex-center(row);
    &--1 {
      > p {
        color: var(--color-player-1);
      }

      svg path {
        fill: var(--color-player-1);
      }
    }

    &--2 {
      > p {
        color: var(--color-player-2);
      }

      svg path {
        fill: var(--color-player-2);
      }
    }

    #score-player-blue,
    #score-player-orange {
      display: inline-block;
      text-align: center;
      width: 1ch;
    }
  }
}

body[data-theme="code vibes"] .score {
  background-color: rgba(134, 233, 214, 0.3);

  &--settings {
    font-size: 8px;
    gap: 12px;

    .player-color {
      margin: 0 4px 0 2px;
    }
  }

  &--game {
    padding: 16px 20px;
    font-size: 24px;
    gap: 20px;

    svg {
      width: 24px;
      height: 20px;
    }

    .player-color {
      margin: 0 4px 0 4px;
    }
  }
}

body[data-theme="gaming"] .score {
  background-color: white;

  &--settings {
    font-size: 10px;
    border-radius: 4px;
    gap: 16px;

    .player-svg--gaming {
      width: 10px;
      height: 12px;
    }
  }

  &--game {
    font-size: 30px;
    padding: 16px;
    border-radius: 10px;
    gap: 40px;

    .player-svg--gaming {
      width: 22px;
      height: 28px;
    }
  }

  &__player {
    gap: 4px;
  }
}

.current-player {
  @include flex-center(row);

  &--settings {
    gap: 4px;
    font-size: 8px;
  }
  &--game {
    font-size: 26px;

    gap: 8px;

    .current-player__svg {
      &--code-vibes {
        width: 29px;
        height: auto;
      }
    }
  }

  &__svg {
    &--code-vibes {
      &.blue {
        > path {
          fill: var(--color-player-1);
        }
      }
      &.orange {
        > path {
          fill: var(--color-player-2);
        }
      }
    }

    &--gaming {
      &.blue {
        > rect {
          fill: var(--color-player-1);
        }
      }

      &.orange {
        > rect {
          fill: var(--color-player-2);
        }
      }
    }
  }
}

body[data-theme="code vibes"] .current-player {
  &--settings {
    font-size: 10px;
  }
  &--game {
  }
}

body[data-theme="gaming"] .current-player {
  &--settings {
    font-size: 8px;
  }

  &--game {
    font-size: 32px;
    font-weight: bold;

    .current-player__svg {
      width: 41px;
      height: 40px;
    }
  }
}

.exit-game-btn {
  font-weight: 700;
  color: white;
  @include flex-center(row);

  &--settings {
    padding: 4px 8px;
    font-size: 10px;
    cursor: default;
  }

  &--game {
    padding: 12px 20px;
  }
}

body[data-theme="code vibes"] .exit-game-btn {
  gap: 6px;
  background-color: rgba(134, 233, 214, 0.14);
  border: 1px solid var(--color-card-2);

  &--settings {
  }
  &--game {
    font-size: 24px;
    svg {
      width: 30px;
      height: 30px;
    }

    &:hover {
      box-shadow: 4px 4px 6px 0px rgba(77, 213, 188, 0.2);
      outline: 2px solid var(--color-card-2);
      background-color: rgba(134, 233, 214, 0.26);
      svg path {
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

body[data-theme="gaming"] .exit-game-btn {
  gap: 10px;
  border: 1px solid rgba(231, 28, 79, 1);

  &--settings {
    border-radius: 7px;

    svg path {
      fill: rgba(231, 28, 79, 1);
    }
  }

  &--game {
    font-size: 20px;
    border-width: 2px;
    border-radius: 10px;

    svg {
      width: 25.75px;
      height: 22.5px;
    }

    &:hover {
      background-color: rgba(237, 27, 118, 0.14);
      box-shadow: 3px 3px 5px 0px rgba(47, 46, 46, 0.2);
      svg path {
        box-shadow: 3px 3px 4.5px 0px rgba(0, 0, 0, 0.35);
        fill: rgba(231, 28, 79, 1);
      }
    }
  }
}
