@use "../components/main" as *;

body {
  color: $color-primary;
  padding: 120px 170px 0 170px;
  @include flex-center(column, flex-start);
  margin: 0 max(calc(50dvw - 720px), 0px);
}

h1 {
  font-size: 54px;
}

.headline-wrapper {
  align-self: flex-start;
  @include flex-gap();
  margin-bottom: 64px;

  img {
    margin-left: -20px;
  }
}

.content-wrapper-settings {
  width: 100%;
  @include flex-center(row, space-between);
}

.game-settings {
  @include flex-gap();
  height: 100%;
  justify-content: space-between;

  &__group {
    > legend {
      @include flex-gap(row, 10px);
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    > .options-wrapper {
      padding-left: 45px;
      @include flex-gap(column, 12px);
    }
  }
}

.option {
  @include flex-gap(row, 12px);

  img {
    opacity: 0;
    transition: opacity $transition-hover;
  }

  label {
    height: 24px;
    @include flex-center;
  }

  &:hover {
    label {
      font-weight: 700;
    }

    img {
      transition: opacity $transition-hover;
      opacity: 1;
    }
  }

  &:has(input[type="radio"]:checked) {
    & img {
      opacity: 1;
      transition: opacity $transition-hover;
    }

    & label {
      font-weight: 700;
    }
  }

  label {
    font-size: 20px;
  }
}

.settings-summary {
  @include flex-center(column);
  align-items: end;
  gap: 45px;
}

.game-preview {
  width: 460px;
  height: 412px;
  border-radius: 16px;
  @include flex-gap(column);

  @include bg-gradient(var(--color-bg-1), var(--color-bg-2), 30%);

  &__cards {
    @include flex-center(row);
    position: relative;
    flex: 1;
  }
}

.chosen-settings {
  @include flex-center(row, unset);
  gap: 16px;
  height: 80px;
  background-color: $light-gray;
  padding: 14px 20px;

  > p {
    font-size: 20px;
  }

  .yellow-line-final {
    display: none;
  }

  &--final {
    .yellow-slash {
      display: none;
    }

    .yellow-line-final {
      display: unset;
      rotate: 116.5deg;
      transform: scale(1.2);
    }
  }
}

@keyframes chosenSettingsAnimation {
  0% {
  }

  0% {
  }

  0% {
  }

  0% {
  }

  0% {
  }
}

.btn-settings {
  padding: 14px 20px;
  @include flex-gap(row, 8px);
  width: 126px;
  transition: transform $transition-hover;

  > p {
    font-size: 20px;
    font-weight: 700;
  }

  svg {
    transition: rotate $transition-hover;
  }

  &:not(.disabled) {
    &:hover {
      transform: scale(1.05);
      transition: transform $transition-hover;

      > p {
        font-size: 22px;
      }

      > svg {
        rotate: -5deg;
        transition: rotate $transition-hover;
      }
    }
  }

  &.disabled {
    background-color: #dbdbd6 !important;

    > p {
      color: #a3a1a1;
    }

    svg path {
      fill: #a3a1a1;
    }
  }
}
