@mixin flex-center($dir: column, $justify: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: center;
}

@mixin flex-gap($dir: column, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
}
