@mixin flex-center($dir: column, $justify: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: center;
}

@mixin flex-gap($dir: column, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
}

@mixin bg-gradient($color1, $color2) {
  background: $color1;
  background: linear-gradient(to bottom left, $color1 50%, $color2 100%);
}
