@use "../abstracts/load-abstracts" as *;

body[data-theme="code vibes"] .card {
  &__face {
    &--front {
      @include bg-gradient(var(--color-card-2), var(--color-card-1), 30%);
    }

    &--back {
      background-color: rgba(232, 243, 240, 1);
    }
  }

  &--settings {
    width: 180px;
    height: 180px;
    box-shadow: 4px 4px 5.4px 0 rgba(0, 0, 0, 0.2);

    &.card--back {
      rotate: -5.5deg;
      left: 70px;
      @include bg-gradient(var(--color-card-2), var(--color-card-1), 30%);
    }

    &.card--front {
      rotate: 15deg;
      right: 100px;
      margin-top: 25px;
      background-color: rgba(232, 243, 240, 1);

      .img-code-vibes {
        height: 90px;
        width: 90px;
      }
    }
  }

  &--game {
    width: 120px;
    height: 120px;
  }
}
