@use "../abstracts/load-abstracts" as *;

$color-card-code-vibes-1: #4dd5bc;
$color-card-code-vibes-2: #286f62;

.card-code-vibes {
  @include flex-center;

  &--settings {
    width: 180px;
    height: 180px;
  }

  &--front {
    background-color: white;
  }

  &--back {
    @include bg-gradient(#4dd5bc, #286f62);
  }
}
