@use "./components/main" as *;

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

body {
  font-family: "Almarai", sans-serif;
  height: 100dvh;
}

body[data-theme="code vibes"] {
  .gaming {
    display: none;
  }

  .code-vibes {
    display: unset;
  }
}

body[data-theme="gaming"] {
  .code-vibes {
    display: none;
  }

  .gaming {
    display: unset;
  }
}

// .score-code-vibes {
//   @include flex-center(row);
//   background-color: rgba(134, 233, 214, 0.3);
//   padding: 4px 8px;
//   gap: 10px;

//   svg {
//     margin-right: 2px;
//   }

//   .player-color {
//     margin-right: 4px;
//   }

//   .score-player {
//     @include flex-center(row);
//     font-size: 14px;

//     &--1 {
//       color: var(--color-player-1);
//     }

//     &--2 {
//       color: var(--color-player-2);
//     }
//   }
// }
